<h3>DAY = {{isDay}}</h3>
<button (click)="makeItDay()" *ngIf='!isDay'>make it DAY</button>
<button (click)="makeItNight()" *ngIf='isDay'>make it NIGHT</button>

<div class="community" *ngIf="houses else loading">
    <div class="house" *ngFor="let house of houses; let ind = index" [ngClass]="getColourClass(ind)">
        <div class="floor" *ngFor="let f of floors">
            <div class="block" *ngFor="let i of [].constructor(house)">
                <div class="window" [class.lighted]="!isDay && isLighted()"></div>
            </div>
        </div>
        <div class="house-number" [ngStyle]="getHouseNumberStyle(house)">{{ind+1}}</div>
    </div>
</div>

<ng-template #loading>
    <div>Community is empty, no houses present(</div>
</ng-template>