<h3>DAY = {{isDay}}</h3>
<button (click)="makeItDay()" *ngIf='!isDay'>make it DAY</button>
<button (click)="makeItNight()" *ngIf='isDay'>make it NIGHT</button>

<div class="community" *ngIf="houses else loading">
    <div *ngFor="let house of houses; let ind = index; last as isLast; first as isFirst"
         class="house" [ngClass]="getColourClass(ind)">
        <div class="floor" *ngFor="let f of floors">
            <div class="block" *ngFor="let i of [].constructor(house)">
                <div class="window" [class.lighted]="!isDay && isLighted()" highlight></div>
            </div>
        </div>
        <div class="house-number" [ngStyle]="getHouseNumberStyle(house)">
            <span *ngIf="isFirst">&rarr;</span>
            {{ind+1}}
            <span *ngIf="isLast">&larr;</span>    
        </div>
    </div>
</div>

<ng-template #loading>
    <div *unless="houses">Community is empty, no houses present(</div>
</ng-template>