<div class="m-2">
    <input [(ngModel)]="newRow" class="col-sm-3 mr-2" placeholder="fill to add" />
    <button (click)="add()" class="btn btn-success" *ngIf="newRow">add</button>
</div>

<div class="m-2">
    <input [(ngModel)]="searchRow" class="col-sm-3 mr-2" (keyup)="search()" placeholder="seach" />
    <!-- <button (click)="add()" class="btn btn-success">seach</button> -->
</div>

<div class="mt-5">
    <div *ngFor="let row of rows" class="mb-2" [@rowRemoved]="row">
        <app-row [text]="row"></app-row>
    </div>
</div>